<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:5000/form" method="post">
        <label for="Name">Name:</label>
        <input id="Name" type="text" name="Name" value="Name"><br/>

        <input type="hidden" name="recipient" value="info@merge.africa">
        
        <label for="Surname">Surname:</label>
        <input id="Surname" type="text" name="Surname" value="Surname"><br/>
        
        <input type="submit" value="Press me">
    </form>
</body>
</html>
